/* BODY */
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url("../images/vodica.png");
    background-repeat: round;
}


p {
	font-size: 12px;
	color:#000000;
}


/* KONTEJNER */

.container {
	min-height:250px;
	width:auto;
	margin: 200px 30%;
	padding: 60px 60px 10px 60px;
	box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	background-color: #e6faff;
}


.posalji-poruku {
	width:100%;
}

.kontakt-forma-polje__textarea {
	background: #ccf5ff;
	border-radius: 10px;
	border: 1px solid #ccf5ff;
	box-shadow: none;
	width: 100%;
	height:100px;
	margin-bottom: 0px;
	padding-left:5px;
}

.brojac {
	width: 100%;
	height:30px;
	font-size:12px;
}

span{
	font-size:12px;
	color:ff0000;
	padding-left:5px;
}
